body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background: cadetblue;
}

.login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: #f3f3f3;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0px 1px 10px rgba(0, 0, 0, 0.3);
}
.login-form .login-form-heading,
.login-form .checkbox {
  margin-bottom: 10px;
}
.login-form .checkbox {
  font-weight: normal;
}
.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.login-form .form-control:focus {
  z-index: 2;
  background: #dee0f7;
}

.login-form input[type="text"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  background: #fff;
  border: 1px solid #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  transition: all 0.5s ease;
}

.login-form .btn:hover,.btn:focus {
    text-decoration: none;
    border: 1px solid rgba(256,256,256,0.75);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
}

.login-form .btn-primary {
    color: #fff;
    border-color: #48898f;
    background: -moz-linear-gradient(linear, left top, left bottom, from(#5cadb4), to(#5F9EA0));
    background: -webkit-gradient(linear, left top, left bottom, from(#5cadb4), to(#5F9EA0));
    background: -webkit-linear-gradient(linear, left top, left bottom, from(#5cadb4), to(#5F9EA0)); 
    background: -o-linear-gradient(linear, left top, left bottom, from(#5cadb4), to(#5F9EA0));
    background: linear-gradient(linear, left top, left bottom, from(#5cadb4), to(#5F9EA0));
    text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.login-form input[type="password"] {
  margin-bottom:  0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  background: #fff;
  border: 1px solid #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
       transition: all 0.5s ease;

}
.login-form label.error {
    color:#bd0000;
    transition: all 0.5s ease;
}


select.error, textarea.error, input.error {
    border:1px solid #bd0000;
    
}